* {
  font-family: 'open sans', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
html {
  background: url("../img/bg1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*:focus {outline: none;}
#page_1 { 
  background: url("../img/bg1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
  text-decoration: none;
}
p {
  font-size: 19px;
  color: #2c3e50;
}
h1,
h2,
h3,
h4 {
  color: #fff;
  font-style: normal;
}

h1{
  font-size:43px;

}
h3{
  font-size: 17px;

}
h2{
  font-size: 24px;

}

#cuerpo {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  margin: 0 auto;
  position: relative;
  width: 70%;
  z-index: 1;
}

.logo{
  width: 114px;
}

#cabecera{
  margin-top: 0;
  position: relative;
  top: 40px;
}

#info-usuario > img{
  float: left;
}
#avatar-frame,.avatar-frame img {
    width: 150px; /* (width, height) make a square container */
    height: 150px;
    background-size: cover; /* fill the container, preserving aspect ratio, and cropping to fit */
    background-position: center; /* center the image vertically and horizontally */
    border-radius: 50%; /* round the edges to a circle with border radius 1/2 container size */
}

#conte-datos{
  float: left;
  margin-left: 45px;
}
#img-fondo{
  width: 100%;
  border: 0;
  position: absolute;
  z-index: 0;
}
#menu li  a{
  display: block;
}
#menu li  a  span{
  display: block;
}

#menu{
  margin-top: 15px;
}
#menu li{
  float: left;
  list-style: none outside none;
  margin-right: 20px;
}

#info-usuario{
  margin-top: 60px;
}


#conte-principal{
  border: 7px solid rgba(77, 77, 77, 0.19);
  margin: 95px auto 0;
  position: relative;
  top: 0;
  width: 90%;
  z-index: 1;
}

#mapa{
  border-radius: 7px;
  height: 390px;
}

.img-avatar{
  float: left;
  width: 165px;
}
.limp{
  line-height: 18;
  clear: both;
}










.icoicon_horario{
  background: url("../img/csg-538b3db09136e.png");
  background-position: 0 0; 
  margin-top: 2px;
  height: 29px; 
  width: 29px; 
} 
.icoicon_notificacion{
  background: url("../img/csg-538b3db09136e.png");
  background-position: 0 -79px; 
  width: 29px; 
  height: 30px; 
} 
.icoicon_user{
  background: url("../img/csg-538b3db09136e.png");
  background-position: 0 -159px; 
  width: 24px; 
  height: 32px; 
} 
.icoicon_horario:hover{
  background-position: 0 -241px; 
} 
.icoicon_notificacion:hover{
  background-position: 0 -320px; 
} 
.icoicon_user:hover{ 
  background-position: 0 -400px; 
} 


#menu > li >  a.active > .icoicon_horario{
  background-position: 0 -241px !important; 
} 
#menu > li >  a.active > .icoicon_notificacion {
  background-position: 0 -320px !important; 

} 
#menu > li >  a.active > .icoicon_user{ 
  background-position: 0 -400px !important; 

} 


#conte-principal-horario{
  margin-top: 100px;
  width: 100%;
}

.opcionesh{

  margin: 0 auto;
  width: 100%;
}
.opcionesh li {
  list-style: none;
}

.opcionesh li a{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.12);
  color: #CFCFCF;
  display: block;
  padding: 7px 204px;
} 

.opcionesh li a:hover{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);

}
.opcionesh li .active{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);

}
.oleft{
  float: left;
}
.oright{
  float: right;
}
.cont-tabla{
  border: 5px solid rgba(0, 0, 0, 0.08);
}


.tablaN  {
  border-collapse: collapse;
  text-align: left;
  width: 100%;

} 

.tablaN {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.93);
  border: 1px solid #E7E7E7;
  overflow: hidden;
}

.tablaN  td, .tablaN  th { 
  padding: 11px 8px; 
}

.tablaN  thead th {
  border-bottom: 1px solid #E7E7E7;
  border-left: 1px solid #E7E7E7;
  color: #6D6D6D;
  font-size: 15px;
  font-weight: normal;
} 

.tablaN  thead th:first-child { 
  border-right: 0  none;
}

.tablaN  tbody td {
  color: #6D6D6D;
  border-left: 1px solid #E7E7E7;
  font-size: 12px;
  border-bottom: 1px solid #E7E7E7;
  font-weight: normal;
}

.tablaN  tbody td:first-child {
  border-left: none; 
}

.tablaN  tbody tr:last-child td { 
  border-bottom: 1px solid #E7E7E7; 
}


input[type="radio"]{ display: none; }

input[type="radio"] + label span{
  background: none repeat scroll 0 0 #787878;
  border-radius: 25px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 25px;
  margin: -10px 4px 0 0;
  padding-top: 7px;
  text-align: center;
  width: 32px;
}

input[type="radio"]:checked + label span{
  background: url('../img/checked.png') 0px top no-repeat;
}

input[type="radio"] + label span p{
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}


.disable-red{
  background:red !important;
  border-radius: 25px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 25px;
  margin: -10px 4px 0 0;
  padding-top: 7px;
  text-align: center;
  width: 32px;
}

.disable-red p{
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}


#conte-principal-notificacion{
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
  border: 5px solid rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  margin-top: 100px;
  width: 100%;
}

#cont-notificaciones{
  height: 193px;
  margin: 21px 30px 30px;
  overflow: auto;
}


.notifi{
  border-radius: 4px;
  display: block;
  margin-bottom: 8px;
  width: 98%;
}

.notifi > div > span >.s_iconO{
   border-top-left-radius: 4px;
    display: inline-block;
    float: left;
    padding: 9px 0;
    width: 50%;
}

.s_icon1{
  background: none repeat scroll 0 0 #6A509B;

}

.s_icon2{
  background: none repeat scroll 0 0 #fef668;

}

.s_icon3{
  background: none repeat scroll 0 0 #ff3e3e;

}

.notifi > div .s_iconO > img{
   display: block;
    margin: 0 auto;
    width: 20px;
}

.notifi > div > span{
    display: block;
    width: 81%;
}
.notifi > div >p{
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #8E8E8E;
    font-size: 12px;
    padding: 0;
    width: 81%;
}

.notifi > div > p > span{
   display: block;
    margin-left: 8px;
}

.snuevo{
  background: none repeat scroll 0 0 #3D107B;
    border-radius: 2px;
    color: #FFFFFF;
    float: right;
    font-size: 9px;
    margin-left: 0 !important;
    margin-right: 7px;
    margin-top: -18px;
    padding: 1px 2px;
    text-align: center;
}

.text-fecha{
  padding: 5px;
}
.sfecha{
  background: none repeat scroll 0 0 #FFFFFF;
    border-top-right-radius: 4px;
    display: inline-block;
    float: right;
    padding: 7px 0;
    text-align: center;
    width: 50%;
}

.s_fecha{
   color: #595959;
    font-size: 9px;
}

.s_hora{
  font-size: 8px;
  color: #595959; 
}



/*
INICIO CSS LOGIN
_________________________________
*/

  #cuerpo_login{
    width: 90%;
    margin: 0 auto;
}

#login_cont_principal{
  margin: 0 auto;
  text-align: center;
  width: 80%;
}    

#logo_login{
     margin: 39px auto 0;
    width: 200px;
}

#form_login{
     margin: 51px auto 0;
    width: 39.2%;
}

#form_registro{
  margin: 51px auto 0;
  width: 81%;
  display: none;
}

.form_login_left{
  float: left;
  width: 50%;
}

.form_login_right{
  float: right;
  width: 50%;
}
.cont_form_login{
  margin-top: 30px;
}

.titulo_login{
  font-weight: lighter;
  font-size: 36px;
  text-align: center;
}

.label_login{
   color: #FFFFFF;
    display: table;
    font-size: 19px;
    margin-top: 7px;
}

.txt_login{
    border: 3px solid #fff;
    border-radius: 4px;
    color: #565656;
    display: block;
    font-size: 15px;
    padding: 9px 10px;
    width: 360px;
}

.txt_login:focus{
  border: 3px solid #00A0C6;
}
.bt_login{
    background: none repeat scroll 0 0 #00A0C6;
    border:0 none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 21px;
    margin-top: 12px;
    padding: 5px 10px;
    width: 379px;

}

.label_especial_login{
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    margin-top: 13px;
    text-align: left;

}

.label_especial_login2{
    color: #FFFFFF;
    display: inline;
    font-size: 15px;
    margin-top: 13px;
    text-align: left;
    margin-left: 10px;

}

.link_login{
  color: #fff;
  text-align: left !important;
  text-decoration: underline;
}


.check_box{
  display: inline;
}

.acepto_login{
  margin-top: 20px;
    text-align: center;
}


.label_interrogacion{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  color: #FFFFFF;
  display: inline-table;
  float: right;
  font-size: 12px;
  height: 17px;
  left: 23px;
  padding: 4px;
  position: relative;
  text-align: center;
  top: -36px;
  width: 17px;
}







/*
FIN CSS LOGIN
_________________________________
*/



















/**----------------FIN CSS DESIGN----------------**/



/**----------------MEDIAS QUERIES----------------**/


@media (min-width: 302px) {

  #cuerpo{
    width: 91%;
  }

  #info-usuario {
    margin-top: 38px;
  }

  .logo {
    display: block;
    margin: 0 auto;
    width: 114px;
  }
  .img-avatar {
    width: 76px;
  }

  #conte-datos {
    float: right;
    width: 66%;
    margin-left: 0;

  }

  #conte-datos h1 {
    font-size: 24px;
  }

  #conte-datos h2 {
    font-size: 14px;
  }

  #conte-datos h3 {
    font-size: 12px;
  }

  .opcionesh li a {
    padding: 7px 93px;
  }

  .oleft{
    float: none;
  }

  .oright{
    float: none;
  }
  

  
}

@media (min-width: 398px) {

  #cuerpo{
    width: 91%;
  }

  .img-avatar {
      width: 132px;
  }
  .logo {
    display: block;
    margin: 0;
  }

  #conte-datos {
    float: right;
    margin-left: 0;
    width: 60%;
  }
  .opcionesh li a {
    color: #CFCFCF;
    display: block;
    text-align: center;
  }
  #conte-datos h1 {
    font-size: 28px;
  }

  #conte-datos h2 {
    font-size: 18px;
  }

  #conte-datos h3 {
    font-size: 13px;
  }
}

@media (min-width: 480px) {

  #cuerpo{
    width: 91%;
  }

  .img-avatar {
     width: 156px;
  }
 
  #conte-datos h1 {
    font-size: 34px;
  }

  #conte-datos h2 {
    font-size: 25px;
  }

  #conte-datos h3 {
    font-size: 16px;
  }

  .oleft{
    float: left;
  }

  .oright{
    float: right;
  }

  .opcionesh li a {
    padding: 7px 74px;
  }
}

@media (min-width: 671px) {

  #cuerpo {
      width: 81%;
  }

  #conte-datos {
    float: left;
    margin-left: 31px;
    width: 60%;
  }
}

@media (min-width: 1141px) {

 
  #cuerpo {
      width: 75%;
  }

  .opcionesh li a {
      padding: 7px 179px;
  }
}



@media (min-width: 1241px) {

 .notifi > div > span {
    float: left;
    width: 12%;
}


.notifi > div > span > .s_iconO {
    border-top-left-radius: 4px;
    display: inline-block;
    float: left;
    padding: 14px 0 9px;
}


.sfecha {
    border-top-right-radius: 0;
    font-size: 10px;
    padding: 7px 0;
}

.notifi > div > p {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    float: right;
    font-size: 11px;
    width: 88%;
}

.notifi > div > p > span {
    display: block;
    margin-left: 8px;
}

.s_hora {
    font-size: 10px;
}

.s_fecha {
    font-size: 11px;
}


.text-fecha {
    padding: 14px;
}
.snuevo {
    color: #FFFFFF;
    font-size: 9px;
    margin-left: 0 !important;
    margin-right: 7px;
    margin-top: -29px;
    padding: 1px 2px;
}

}























/**----------------FIN MEDIAS QUERIES-------------**/















