{% extends 'layout.html' %}

{% block title %} Horarios - {{usuario.nombre}} {% endblock %}

{% block contenido-principal %}
<section id="conte-principal-horario">
	<ul class="opcionesh">
		<li class="oleft"><a class="active"href="#">ENTRADA</a></li>
		<li class="oright"><a href="#">SALIDA</a></li>
		<div class="limp"></div>
	</ul>

	<div class="cont-tabla">
		<form action="/add/horario" method="POST">
			<table class="tablaN">
				<thead>
					<tr>
						<th>Horas</th>

						<th>Lunes</th>

						<th>Martes</th>

						<th>Miécoles</th>

						<th>Jueves</th>

						<th>Viernes</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>7:00am</td>
						<td ><input class="Dlunes" type="radio" id="c1"  name="lunes" value="Lunes_7:00 AM">
							<label for="c1"><span><p>12</p></span></label>
						</td>
						<td><input class="Dmartes" type="radio" id="c2" name="martes" value="Martes_7:00 AM">
							<label for="c2"><span><p>12</p></span></label>
						</td>
						<td><input class="Dmiercoles" type="radio" id="c3"  name="miercoles" value="Miercoles_7:00 AM">
							<label for="c3"><span><p>12</p></span></label>
						</td>
						<td><input class="Djueves" type="radio" id="c4" name="jueves" value="Jueves_7:00 AM">
							<label for="c4"><span><p>12</p></span></label>
						</td>
						<td><input class="Dviernes" type="radio" id="c5" name="viernes" value="Viernes_7:00 AM">
							<label for="c5"><span><p>12</p></span></label>
						</td>
					</tr>
					<tr>
						<td>9:00am</td>
						<td><input class="Dlunes" type="radio" id="c6" name="lunes" value="Lunes_9:00 AM">
							<label for="c6"><span><p>12</p></span></label>
						</td>
						<td><input class="Dmartes" type="radio" id="c7"  name="martes" value="Martes_9:00 AM">
							<label for="c7"><span><p>12</p></span></label>
						</td>
						<td><input class="Dmiercoles" type="radio" id="c8"  name="miercoles" value="Miercoles_9:00 AM">
							<label for="c8"><span><p>12</p></span></label>

						</td>
						<td><input class="Djueves"type="radio" id="c9" name="jueves" value="Jueves_9:00 AM">
							<label for="c9"><span><p>12</p></span></label>
						</td>
						<td><input class="Dviernes"type="radio" id="c10" name="viernes" value="Viernes_9:00 AM">
							<label for="c10"><span><p>12</p></span></label>
						</td>
					</tr>
					<tr>
						<td>11:00am</td>
						<td>
							<input class="Dlunes" type="radio" id="c11" name="lunes" value="Lunes_11:00 AM">
							<label for="c11"><span><p>12</p></span></label>
						</td>
						<td>
							<input class="Dmartes"type="radio" id="c12" name="martes"  value="Martes_11:00 AM">
							<label for="c12"><span><p>12</p></span></label>
						</td>
						<td>
							<label dis	for="c13"><span class="disable-red"><p>0</p></span></label>
						</td>
						<td>
							<input class="Djueves"type="radio" id="c14" name="jueves" value="Jueves_11:00 AM">
							<label for="c14"><span><p>12</p></span>

						</td>
						<td>
							<input class="Dviernes"type="radio" id="c15" name="viernes" value="Viernes_11:00 AM">
							<label for="c15"><span><p>12</p></span></label>
						</td>
					</tr>
					<tr>
						<td>1:00pm</td>
						<td><input class="Dlunes" type="radio" id="c16" name="lunes" value="Lunes_1:00 PM">
							<label for="c16"><span><p>12</p></span></label>
						</td>
						<td><input class="Dmartes"type="radio" id="c162"  name="martes" value="Martes_1:00 PM">
							<label for="c162"><span><p>12</p></span></label>
						</td>
						<td><input class="Dmiercoles"type="radio" id="c17" name="miercoles" value="Miercoles_1:00 PM">
							<label for="c17"><span><p>12</p></span></label>
						</td>
						<td><input class="Djueves"type="radio" id="c18" name="jueves" value="Jueves_1:00 PM">
							<label for="c18"><span><p>12</p></span></label>
						</td>
						<td><input class="Dviernes"type="radio" id="c19" name="viernes" value="Viernes_1:00 PM">
							<label for="c19"><span><p>12</p></span></label>
						</td>
					</tr>
					<tr>
						<td>3:00pm</td>
						<td>
							<input class="Dlunes" type="radio" id="c20"  name="lunes" value="Lunes_3:00 PM">
							<label for="c20"><span><p>12</p></span></label>
						</td>
						<td>
							<input class="Dmartes"type="radio" id="c21" name="martes" value="Martes_3:00 PM" >
							<label for="c21"><span><p>12</p></span></label>
						</td>
						<td>
							<input class="Dmiercoles"type="radio" id="c22" name="miercoles" value="Miercoles_3:00 PM">
							<label for="c22"><span><p>12</p></span></label>
						</td>
						<td>
							<input class="Djueves"type="radio" id="c23" name="jueves" value="Jueves_3:00 PM">
							<label for="c23"><span><p>12</p></span></label>

						</td>
						<td>
							<input class="Dviernes"type="radio" id="c24" name="viernes" value="Viernes_3:00 PM">
							<label for="c24"><span><p>12</p></span></label>
						</td>
					</tr>
				</tbody>
			</table>
			<input type="hidden" name="tipo" value="entrada">
			<button type="submit">Guardar</button>
		</form>
	</div>
	</section>
{% endblock %}

{% block scripts %}
	<script src="/js/funcionesh.js"></script>
{% endblock %}