{% extends 'layout.html' %}

{% block title %} Bienvenido a Movilú - {{usuario.nombre}} {% endblock %}

{% block contenido-principal %}
<section id="conte-principal">
	<div id="mapa">
	</div>
	<ul id="control-mapa" style="display:none;">
		<li><button><img src="/img/icon_ubicar.png"></button></li>
		<li><button><img src="/img/icon_verruta.png"></button></li>
	</ul>
</section>	
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry&sensor=false"></script>
<script src="/js/funciones.js"></script>
{% endblock %}