<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Movilú">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="/css/estilo.css">

	<title>{% block title %} Movilú {% endblock %}</title>
</head>
<body>
	<div id="cuerpo">

		<section id="cabecera">
			<header>
				<img src="/img/logo.png" class="logo">
			</header>

			<div id="info-usuario">

				<div class="avatar-frame">
					<img src="/img/avatar.png" class="img-avatar">
				</div>
				<div id="conte-datos">
					<h2>{{usuario.nombre}} {{usuario.apellidos}}</h2>
					<h3>{% if !usuario.direccion %} Edita tu dirección {% endif %} {% if usuario.direccion %}usuario.direccion{% endif %}</h3>
					<h1>{% if !usuario.plan %} INACTIVO {% endif %} {% if usuario.plan %}usuario.plan.nombre{% endif %}</h1>

					<nav>
						<ul id="menu">
						<li>
							<a href="/inicio" id="menu_inicio" ><span class="icoicon_user"></span></a>
						</li>
						<li>
							<a href="/horarios" id="menu_horarios" ><span class="icoicon_horario"></span></a>
						</li>
						<li>
							<a href="/notificaciones" id="menu_notificaciones"><span class="icoicon_notificacion"></span></a>
						</li>
						<div class="limp"></div>
						</ul>
					</nav>
				</div>
				<div class="limp"></div>

			</div>
		</section>
		{% block contenido-principal %}

		{% endblock %}
						
	</div>

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	{% block scripts %}

	{% endblock %}


</body>


</html>	