<!DOCTYPE html>
<html id="page_1">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Movilú">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="/css/estilo.css">
	 <link rel="stylesheet" type="text/css" href="/css/tooltipster.css" />

	<title>Movilú</title>
</head>
<body>
	<div id="cuerpo_login">

		<section id="login_cont_principal">
			<header>
				<img src="/img/logo.png" id="logo_login">
			</header>

			<div id="form_login">

				<h1 class="titulo_login">Iniciar Sesión</h1>

				<div class="cont_form_login">
					<form action="/login" method="POST">
						<label class="label_login">Correo</label>
						<input name="correo" type="text" class="txt_login"/>

						<label class="label_login">Contraseña</label>
						<input name="password" type="password" class="txt_login"/>

						<button type="submit" class="bt_login">Entrar</button>
					</form>
					<label class="label_especial_login">Aún no tienes cuenta? <a id="link_registrate" href="#" class="link_login">Regístrate</a></label>

				</div>
			</div>

			<div id="form_registro">

				

				<h1 class="titulo_login">Regístrate</h1>

				<div class="cont_form_login">
					<form action="/registro/estudiante" method="POST">
						<div class="form_login_left">

							<label class="label_login">Universidad</label>
							<select name="universidad" class="txt_login" style="width:386px;">
								<option>Encuentra tu universidad</option>
								{% for universidad in universidades %}
								<option value="{{universidad._id.toString()}}">{{universidad.nombre}} </option>
								{% endfor %}
							</select>

							<label class="label_login">Nombres</label>
							<input name="nombres" type="text" class="txt_login"/>

							<label class="label_login">Apellidos</label>
							<input name="apellidos" type="text" class="txt_login"/>

							<label class="label_login">Celular</label>
							<input name="celular" type="text" class="txt_login"/>
						</div>

						<div class="form_login_right">

							<label class="label_login">Fecha de nacimiento</label>
							<div>
								<input name="fecha_nacimiento" id="fecha_nacimiento"type="text" class="txt_login"/>
								<a class="label_interrogacion tooltip" href="#"  title="Esta fecha se utilizara para fines educativos... usted desasdasdsadasdsadsaasdasdas usted desasdasdsadasdsadsaasdasdas usted desasdasdsadasdsadsaasdasdas">?</a>
							</div>
							

							<label class="label_login">Correo</label>
							<input name="correo" type="text" class="txt_login"/>

							<label class="label_login">Contraseña</label>
							<input name="password" type="password" class="txt_login"/>

							<label class="label_login">Confirmar contraseña</label>
							<input name="password2" type="password" class="txt_login"/>
						</div>

						<div class="limp"></div>
						<div class="acepto_login">
							<input name="terminos" type="checkbox" class="check_box" />
							<label class="label_especial_login2">Acepto 
								<a href="#" class="link_login">términos y condiciones</a>
							</label>
						</div>
						


						<button type="submit" class="bt_login">Registrarme</button>
					</form>
				</div>
			</div>

		</section>
			<a href="#" id="link_atras" class="link_login" style="float: left;position: absolute;top: 78px;display: none;">Iniciar sesión</a>
			<a href="#" id="#"><img src="/img/logo2.png"></a>

	</div>

		<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="/js/jquery.inputmask.js"></script>
		<script src="/js/jquery.inputmask.date.extensions.js"></script>
		<script src="/js/jquery.tooltipster.js"></script>
		<script src="/js/funcionesl.js"></script>

	</body>


	</html>	