{% extends 'layout.html' %}

{% block title %} Notificaciones - {{usuario.nombre}} {% endblock %}

{% block contenido-principal %}
<section id="conte-principal-notificacion">
	<div id="cont-notificaciones">

		<div class="notifi">
			<div>
				<span>
					<span class="s_iconO s_icon3">
						<img src="img/icon_notificacion.png">
					</span>
					<span class="sfecha">
						<p class="s_fecha">20/05/04</p>
						<p class="s_hora">7:00am</p>
					</span>
					<div class="limp"></div>
				</span>

				<p>
					<span class="text-fecha">
						The Google Fonts API will generate the necessary browser-specific CSS to use the fonts.
					</span> 
					<span class="snuevo">nuevo</span>
					<div class="limp"></div>
				</p>
				<div class="limp"></div>

			</div>
		</div>

		<div class="notifi">
			<div>
				<span>
					<span class="s_iconO s_icon1">
						<img src="img/icon_notificacion.png">
					</span>
					<span class="sfecha">
						<p class="s_fecha">20/05/04</p>
						<p class="s_hora">7:00am</p>
					</span>
					<div class="limp"></div>
				</span>

				<p>
					<span class="text-fecha">
						The Google Fonts API will generate the necessary browser-specific CSS to use the fonts.
					</span> 
					<span class="snuevo">nuevo</span>
					<div class="limp"></div>
				</p>
				<div class="limp"></div>

			</div>
		</div>

		<div class="notifi">
			<div>
				<span>
					<span class="s_iconO s_icon2">
						<img src="img/icon_notificacion.png">
					</span>
					<span class="sfecha">
						<p class="s_fecha">20/05/04</p>
						<p class="s_hora">7:00am</p>
					</span>
					<div class="limp"></div>
				</span>

				<p>
					<span class="text-fecha">
						The Google Fonts API will generate the necessary browser-specific CSS to use the fonts.
					</span> 
					<span class="snuevo">nuevo</span>
					<div class="limp"></div>
				</p>
				<div class="limp"></div>

			</div>
		</div>

		<div class="notifi">
			<div>
				<span>
					<span class="s_iconO s_icon3">
						<img src="img/icon_notificacion.png">
					</span>
					<span class="sfecha">
						<p class="s_fecha">20/05/04</p>
						<p class="s_hora">7:00am</p>
					</span>
					<div class="limp"></div>
				</span>

				<p>
					<span class="text-fecha">
						The Google Fonts API will generate the necessary browser-specific CSS to use the fonts.
					</span> 
					<span class="snuevo">nuevo</span>
					<div class="limp"></div>
				</p>
				<div class="limp"></div>

			</div>
		</div>

		<div class="notifi">
			<div>
				<span>
					<span class="s_iconO s_icon2">
						<img src="img/icon_notificacion.png">
					</span>
					<span class="sfecha">
						<p class="s_fecha">20/05/04</p>
						<p class="s_hora">7:00am</p>
					</span>
					<div class="limp"></div>
				</span>

				<p>
					<span class="text-fecha">
						The Google Fonts API will generate the necessary browser-specific CSS to use the fonts.
					</span> 
					<span class="snuevo">nuevo</span>
					<div class="limp"></div>
				</p>
				<div class="limp"></div>

			</div>
		</div>

	</div>

</section>
{% endblock %}

{% block scripts %}
<script src="/js/funcionesn.js"></script>
{% endblock %}